.popup__container {
    position: relative;
    margin: auto;
    max-width: 430px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media (max-width: 600px) {
    .popup__container {
        transform: none;
        max-width: 282px;
    }
}