.popup__save {
    background-image: url(../../../images/save.svg);
    background-size: cover;
    background-color: transparent;
    width: 358px;
    height: 50px;
    object-fit: cover;
    margin: 47px 0 0;
    
    align-self: center;
    border: none;
    padding: 0;
}

.popup__save:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media (max-width: 600px) {
    .popup__save {
        width: 238px;
        height: 46px;
        background-image: url(../../../images/save-m.svg);
        margin: 44px 0 0;
    }
  }