.popup__button {
    width: 100%;
    margin: 47px 0 0;
    align-self: center;
    border: none;
    padding: 14px 14px 18px 14px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    background: #000000;
    border-radius: 2px;
}

.popup__button:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media (max-width: 600px) {
    .popup__button {
        padding-bottom: 14px;
        margin: 44px 0 0;
        font-size: 14px;
        line-height: 17px;
    }
  }