.header__logo {
    padding: 0 0 41px;
    width: 142px;
    color: #FFFFFF;
}

@media screen and (max-width: 900px) {
    .header__logo {
        padding: 0 0 36px 27px;
    }
}

@media screen and (max-width: 750px) {
    .header__logo {
        padding: 0 0 31.6px 27px;
        width: 103.74px;
    }
}