.profile__button-add {
    background-image: url(../../../images/plus.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 22px;
    width: 150px;
    padding: 0;
    min-height: 50px;
    margin-left: auto;
    align-self: center;
    background-color: #000;
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
}

.profile__button-add:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 750px) {
    .profile__button-add {
        margin: 36px 0 0 0;
        width: 282px;
        background-size: 16px;
    }
}